<!DOCTYPE html>
<html lang="en">
<div data-th-replace="~{fragment-entete::entete}"></div>
<body>
<div data-th-replace="~{fragment-nav::nav}"></div>
<div class="login-box">
    <h2>Login</h2>
    <form th:object="${formUser}" method="post" action="/login">
        <div class="user-box">
            <input th:field="${user.pseudo}" type="text">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input th:field="${user.motDePasse}" type="password">
            <label>Password</label>
        </div>
        <button class="btn btn-dark">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>
</body>
<div data-th-replace="~{fragment-foot::foot}"></div>
</html>